body {
  background: url('images/boats.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #00a7be;
}

#me {
  max-width: 200px;
  height: auto;
  border: 7px solid #00a7be;
  border-radius: 50%;
  position: relative;
	display: inline-block;
}

h1, p, h3 {
  font-family: 'Gloria Hallelujah', cursive;
  /*color: #006472;*/
  color: #0078be;
  /*color: #007485;*/
  /*color: #0087be;*/
  font-size: 35px;
  font-weight: bold;
}

h1 {
    font-size: 65px;
}

.row-fluid {
  background-color: rgba(0,167,190, 0.9);
  padding: 10px;
  /*border: 3px solid #0078be;*/
  border-radius: 7px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: 300px;
    margin-bottom: 20px;
}


#carousel-example-generic {
  margin: 0 auto;
  width: 500px;
  height: auto;
  padding-bottom: 20px;
}

.about {
  font-size: 25px;
  font-family: 'Gloria Hallelujah', cursive;
  /*color: #006472;*/
  color: #0078be;
}

/*
       Contact
*/
#contact {
	text-align: center;
	min-height: 100vh;
	padding: 21vh 0%;
	width: 100%;
  font-size: 15px;
}
#contact img {
	width: 100%;
	height: 70%;
}
#github, #linkedin, #email {
	max-width: 100px;
	height: 60px;
}

/*flip card for portfolio*/

.cards {
  text-decoration:underline;
  font-size: 35px;
  text-shadow: 20px;
  font-family: 'Gloria Hallelujah', cursive;
}

li, h5 {
  font-size: 20px;
  text-shadow: 20px;
  font-family: 'Gloria Hallelujah', cursive;
  color: #0078be;
  list-style-type: none;
}

.card .back {
    display: block;
    max-width: 100%;
    height: 300px;
    margin-bottom: 20px;
    background-color:  rgba(0,167,190, 0.9);
    padding: 20px;
    /*border: 3px solid #0078be;
    border-radius: 20%;*/
}

.flip {
  -webkit-perspective: 800;
perspective: 800;

    position: relative;
 text-align: center;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
}
.flip .card {

  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
}
.flip .card .face {

  -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
  z-index: 2;

}
.flip .card .front {
  position: absolute;
   width: 100%;
  z-index: 1;

}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
}
  .inner{margin:0px !important;}




  /*@media (max-width : 1200px) {
  .img-responsive {
      display: block;
      max-width: 100%;
      height: 500px;
      margin-bottom: 20px;
  }


  #carousel-example-generic {
    margin: 0 auto;
    width: 500px;
    height: auto;
    padding-bottom: 20px;
  }

  }
*/



  /*@media (max-width : 1200px) {
  .img-responsive {
      display: block;
      max-width: 100%;
      height: 500px;
      margin-bottom: 20px;
  }


  #carousel-example-generic {
    margin: 0 auto;
    width: 500px;
    height: auto;
    padding-bottom: 20px;
  }

}*/



/*@media (min-width: 768px) {
  .img-responsive {
      display: block;
      max-width: 100%;
      height: 300px;
      margin-bottom: 20px;
      margin: 0 auto;
  }
}*/


  @media (max-width: 768px) {
    .img-responsive {
        display: block;
        max-width: 100%;
        height: 300px;
        margin-bottom: 20px;
        margin: 0 auto;
    }
}


/*@media (min-width: 480px) {
  .img-responsive {
      display: block;
      max-width: 75%;
      height: 300px;
      margin-bottom: 20px;
      margin: 0 auto;
  }
  #carousel-example-generic {
    margin: 0 auto;
    width: 500px;
    height: auto;
    padding-bottom: 20px;
  }
}*/


@media (max-width: 480px) {
  .img-responsive {
      display: block;
      max-width: 65%;
      height: 300px;
      margin-bottom: 20px;
      margin: 0 auto;
  }
  #carousel-example-generic {
    margin: 0 auto;
    width: 300px;
    height: auto;
    padding-bottom: 20px;
  }
}

@media (max-width: 300px) {
  .img-responsive {
      display: block;
      width: 75%;
      height: 100px;
      margin-bottom: 20px;
      margin: 0 auto;
  }
  #carousel-example-generic {
    margin: 0 auto;
    width: 200px;
    height: auto;
    padding-bottom: 20px;
  }

}
